<html>
    <body>
        <h1>{{restaurant.name}}</h1>

        <a href='{{url_for('showRestaurants')}}'>Show All Restaurants</a>
        </br>
        <a href='{{url_for('newMenuItem', restaurant_id = restaurant.id)}}'>Create New Menu Item</a>
        </br>
        </br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}

            <ul>
                {% for message in messages %}
                    <li><strong> {{message}} </strong></li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        {% if items %}
            {% for i in items %}
                {{i.name}}
                </br>

                {{i.description}}
                </br>

                {{i.price}}
                </br>

                <a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}'>Edit</a>
                </br>
                <a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}'>Delete</a>
                </br>
                </br>
            {% endfor %}
        {% else %}
            <h3>No menu items yet. Be the first to create one</h3>
        {% endif %}

    </body>
</html>